.App {
    --header_height: 60px;
    /*max-width: 1280px;*/
    width: 100vw;
    height: 100vh;
}

.hw1 , .hw2, .hw3 , .hw4{
    /*position: absolute;*/
    /*margin: 47px 70px 0 70px;*/
    font-family: 'Montserrat', serif;
    font-style: normal;
    line-height: 20px;
    font-weight: 600;
    color: #000000;
}

.hw2 {
    margin-top: 20px;
}
.hw2Container, .hw3Container {
    margin-bottom: 73px;
}

.hw3 {
    margin-top: 20px;
}
.hw4 {
    margin-top: 20px;
}
.hw5 {
    margin: 20px 70px;
}




.hw {
    /*width: 1280px;*/
    /*height: 373px;*/
    /*left: 0px;*/
    /*top: 131px;*/
}

.hwTitle {
    height: 27px;
    width: 165px;
    /*left: 70px;*/
    /*top: 131px;*/

    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin:  27px 0 10px 0;
}

.line {
    border: .5px solid #80808042;
    width: 100vw;
    margin-left: -70px;
}