*,
*::before,
*::after {
    box-sizing: border-box;
}
select {
    appearance: auto;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;


}
select::-ms-expand {
    /*display: none;*/
}
:root {
    --select-border: #777;
    --select-focus: red;
    --select-arrow: var(--select-border);
}
.select {
    width: 20%;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: var(--background);
    color: var(--color);
    display: grid;
    grid-template-areas: "select";
    align-items: center;

}
.select::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: var(--select-arrow);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    justify-self: end;
}
select,
.select:after {
    grid-area: select;
}


option:focus {
    color: #444645;
    background: green;
    /* hover on select */
}
option:checked{
    color: rgb(246, 250, 0);
    background-color: white;
}



.option:hover {
    appearance: none;
    color: yellow;
}
.openSelect {
    appearance: none;
    /*color: #00cc22;*/
}

/*.option {*/
/*    background: red !important;*/
/*}*/
