.burgerMenuIcon {
    height: 24px;
    width: 24px;
}
.title {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}

.header {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    background-color: white;
    color: black;
}

.header h1 {
}